Package: com.water888.yousubscribe
Name: YouSubscribe
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Adds a real Subscribe button to YouTube video overlay
Maintainer: Tonwalter888
Author: Tonwalter888
Section: Tweaks
Depends: mobilesubstrate
